.containerTimeline {
  width: 100%;
  height: 300px;
  grid-column: 2/8;
  grid-row: 1/3;
  background-color: white;

  .innerContainer {
    height: 300px;
    .header {
      background-color: #949ba7;
      height: 26px;
      display: flex;
      justify-content: center;
    }
    .cursor {
      height: 273px;
      width: 5px;
      background-color: black;
      position: relative;
    }
  }
}
